[submodule "NFs/amf"]
	path = NFs/amf
	url = https://github.com/nycu-ucr/amf.git
	branch = next
[submodule "NFs/ausf"]
	path = NFs/ausf
	url = https://github.com/nycu-ucr/ausf.git
	branch = next
[submodule "NFs/nrf"]
	path = NFs/nrf
	url = https://github.com/nycu-ucr/nrf.git
	branch = next
[submodule "NFs/nssf"]
	path = NFs/nssf
	url = https://github.com/nycu-ucr/nssf.git
	branch = next
[submodule "NFs/pcf"]
	path = NFs/pcf
	url = https://github.com/nycu-ucr/pcf.git
	branch = next
[submodule "NFs/smf"]
	path = NFs/smf
	url = https://github.com/nycu-ucr/smf.git
	branch = next
[submodule "NFs/udm"]
	path = NFs/udm
	url = https://github.com/nycu-ucr/udm.git
	branch = next
[submodule "NFs/udr"]
	path = NFs/udr
	url = https://github.com/nycu-ucr/udr.git
	branch = next
[submodule "NFs/chf"]
	path = NFs/chf
	url = https://github.com/nycu-ucr/chf.git
	branch = next
[submodule "onvm-upf"]
	path = NFs/onvm-upf
	url = https://github.com/nycu-ucr/onvm-upf.git
[submodule "xio"]
	path = NFs/xio
	url = https://github.com/nycu-ucr/onvmpoller.git
[submodule "webconsole"]
	path = webconsole
	url = https://github.com/free5gc/webconsole.git
[submodule "UERANSIM"]
	path = UERANSIM
	url = https://github.com/aligungr/UERANSIM.git
